
		body {
        padding: 0;
        margin: 0;
        }

        html, body, #mapid {
        height: 100%;
        font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        .lorem {
        color: #1d1d1b;
		font-size:1em;
        }
		
		.Tooltipsrégional {
		font-size:1em;
		font-weight: bold;
		color: #ff005a;
		background-color: #f0f1ff;
		}
		
		.Tooltipsnational {
		font-size:1em;
		font-weight: bold;
		color: #ff8700;
		background-color: #f0f1ff;
		}
	
		.petit {
		opacity: 0.7;
		font-style: italic;
		}
		
		.leaflet-popup-tip-container {
		display: none;
		} 
		
		.bouton {
		color:#1d1d1b;
		font-weight: bold;
		cursor: pointer;
		height: 21px;
		}
		
		.bouton:hover {
		color: #004494;
		}
		
		.bouton_on {
		color: red;
		font-weight: bold;
		height: 21px;
		}
		
		.presentation {
		display: block;
		}
		
		#popup {
			display: none;
		}
		
		h1{
			text-transform: uppercase;
			color:#00005d;
			text-align:center;
		}
	
		h2{
			font-size:1.8em;
			color: #00005d;
		}
		
		h3{
			font-size:1.4em;
			color: #1d1d1b;
		}
		
		.labelClass {
		text-transform: uppercase;
		color: black;
		font-size:0.7em;
		font-weight:bold;
		text-shadow: white 0.1em 0.1em 0.2em
		}
		
		a {
		text-decoration:none;
		font-weight:bold;
		font-size:1.2em;
		}